@import 'tailwindcss';

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 32rem;

  --color-background: #eaecf5;
  --color-foreground: #fafafd;
  --color-border: #d4d8ea;

  --color-copy: #191d34;
  --color-copy-light: #3c4780;
  --color-copy-lighter: #6472b4;

  --color-dark-background: #111422;
  --color-dark-foreground: #191d34;
  --color-dark-border: #293156;

  --color-dark-copy: #fafafd;
  --color-dark-copy-light: #cbd0e6;
  --color-dark-copy-lighter: #8791c5;

  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;
  --color-success-content: #000000;
  --color-warning-content: #000000;
  --color-error-content: #ffffff;

  --color-primary: #2f4ad0;
  --color-primary-content: #fefeff;
  --color-primary-dark: #263aa5;
  --color-primary-light: #586dd9;

  --color-secondary: #4a2fd0;
  --color-secondary-content: #ffffff;
  --color-secondary-dark: #3b26a6;
  --color-secondary-light: #6e59d9;

  --color-accent: #2fd0a2;
  --color-accent-content: #000000;
  --color-accent-dark: #26a682;
  --color-accent-light: #59d9b5;
}
body {
  font-family: sans-serif, Arial, Helvetica;
}

@layer components {
  .share-border-btns {
    @apply border-border hover:border-accent;
  }
}
